<div class="navbar bg-neutral gap-4">
  <div>
    <a href="#home" class="btn btn-outline btn-primary normal-case text-xl">Cwoffee Abound</a>
  </div>

  <div>
    <a href="#order" class="btn btn-outline normal-case text-lg">Order Now</a>
  </div>

  <div>
    <a href="#review" class="btn btn-outline btn-secondary normal-case text-lg">Leave a Review</a>
  </div>

  <div>

  </div>

</div>

<div class="carousel carousel-center rounded-box">
  <div id="home" class="carousel-item relative w-full">
    <!-- <img src="/images/stock/photo-1625726411847-8cbb60cc71e6.jpg" class="w-full" /> -->
    <app-home class="w-full"></app-home>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#review" class="btn btn-circle">❮</a>
      <a href="#order" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="order" class="carousel-item relative w-full">
    <app-order class="w-full"></app-order>
    <!-- <img src="/images/stock/photo-1609621838510-5ad474b7d25d.jpg" class="w-full" /> -->
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#home" class="btn btn-circle">❮</a>
      <a href="#review" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="review" class="carousel-item relative w-full">
    <app-review class="w-full"></app-review>
    <!-- <img src="/images/stock/photo-1414694762283-acccc27bca85.jpg" class="w-full" /> -->
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#order" class="btn btn-circle">❮</a>
      <a href="#home" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>

<footer class="footer bg-neutral">
  <div>
    <span class="footer-title">Names</span>
    <p>Eric Stranquist</p>
    <p>Jack Stepanek</p>
    <p>James Lyerla</p>
  </div>
  <div>
    <span class="footer-title">Frontend</span>
    <p>Jack Stepanek</p>
    <p>James Lyerla</p>
  </div>
  <div>
    <span class="footer-title">Backend</span>
    <p>Eric Stranquist</p>
    <p>Jack Stepanek</p>
  </div>
</footer>
