<!-- <div class="carousel carousel-vertical">
  <div *ngFor="let menuItem of menuItems" class="card card-compact w-96 bg-primary-content shadow-xl">
    <figure><img src="../../assets/images/glass-of-coffee-with-cream.jpg" alt="coffee" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{menuItem.name}}</h2>
      <p>{{menuItem.description}}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div> -->

<div class="scroll order-page">
  <div class="scroll menu">
    <div *ngFor="let menuItem of menuItems" class="card card-compact w-2/3 bg-primary-content shadow-xl">
      <figure><img src="../../assets/images/glass-of-coffee-with-cream.jpg" alt="coffee" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{menuItem.name}}</h2>
        <p>{{menuItem.description}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="cart flex justify-center">
    <div class="card w-full bg-primary-content shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-3xl self-center">Your Cart</h2>

        <p>{{menuItems[0].name}}</p>
        <div class="btn btn-secondary">Place Order</div>
      </div>
    </div>
  </div>
</div>
